@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding:0;
   font-family: 'Josefin Sans', sans-serif;
}

.home-first-half {
   margin-top:-10px;
   background-image: url(../images/nhs-landing-3.png);
   height: 100vh;
}

.faBars{
   color:white;
}
.navbar {
   height: 70px;
   background-color: #204559;
}

.navbar-brand {
   color: white;
   font-size: 30px;
}

@media (max-width:475px){
   .navbar-brand{
      font-size:25px;
   }
}

.navbar-brand:hover {
   transition: all 0.3s;
}

.nav-link {
   color: white;
}

.nav-item {
   background-color: #204559;
   padding: 15px;
   text-align: center;
}

.nav-item:hover {
   background-color: #274d61;
   transition: all 0.3s;
}

.navbar-brand:hover {
   color: white;
}

.page {
   background-image: url(../images/nhs-landing-3.png);
   height: auto;
   list-style-type:square;
}

h1 {
   text-align: center;
   padding: 10px;
   color: white;
}

h1.school-name {
   padding-top: 190px;
   font-size: 50px;
   font-weight: 300;
   margin-top: 8px;
}

h1.nhs-name {
   font-size: 100px;
   font-weight: 800;
   padding-bottom: 160px;
}

@media (max-width:475px){
   h1.school-name{
      font-size:40px;
      margin-left: 10px;
      margin-right: 10px;
   }
   h1.nhs-name{
      font-size:70px;
      margin-left: 10px;
      margin-right: 10px;
   }
}

.home-bottom-half {
   background-color: #ecf6f8;
   height: auto;
}

.stats-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px;
   text-align: center;
}

.stats-item {
   margin: 10px;
}

.stats-item-1 {
   height: 500px;
   width: 600px;
}

.stats-item-2 {
   width: 600px;
   font-size: 100px;
   color: #204559;
   font-weight: bold;
   text-shadow: #276d78 1px 3px 6px;
}

.home-images {
   border-radius: 5px;
   width: 100%;
   height: auto;
}

@media (max-width:1280px) {
   .stats-item-2 {
      width: 500px;
      margin-top: -40px;
   }
}

@media (max-width:1179px) {
   .stats-item-2 {
      order: 1;
      padding-bottom: 60px;
      padding-top: 15px;
   }

   .home-images {
      justify-content: center;
   }
}

@media (max-width:560px) {
   .stats-item-2 {
      font-size: 70px;
      order: 1;
      padding-bottom: 60px;
      transform: translateY(-60px);
   }

   .home-images {
      justify-content: center;
   }
}

@media (max-width:475px){
   .states-item-2{
      font-size:55px;
      transform: translateY(-60px);
   }
}

.numbers {
   border-radius: 10px;
   height: 350px;
   background-color: #2a706c;
   margin: 0px 80px;
   padding-bottom: 25px;
   transform: translateY(-60px);

   display: flex;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
}

@media (max-width: 475px){
   .numbers{
      height: 375px;
      margin: 0px 20px;
   }
}

.numbers-item {
   text-align: center;
   padding: 35px;
   font-size: 25px;
   color: white;
}

@media (max-width:1168px) {
   .numbers {
      height: 500px;
   }
}

@media (max-width:689px) {
   .numbers {
      height: 1000px;
   }
}

.numbers-icon {
   font-size: 90px;
}

.numbers-heading {
   padding-top:150px;
   text-align: center;
   color: #204559;
   font-size: 65px;
   font-weight:bold;
   transform: translateY(-60px);
}

@media (max-width: 475px){
   .numbers-heading{
      font-size:50px;
   }
}

.meet {
   margin: 60px;
   color: #206569;
   font-size: 50px;
   font-weight: 600;
   text-align: center
}

.board-profile {
   color: white;
   display: flex;
}


.flexbox-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}

.flexbox-item {
   margin: 20px 60px;
   background-color: #206569;
   border-radius: 6px;
   padding: 30px;
   line-height: 1.15em;
}

.flexbox-item-1 {
   height: 15vh;
   width: 30vh;
}

.flexbox-item-2 {
   height: 15vh;
   width: 30vh;
}


.user-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.user-item {
   margin: 10px 100px;
}

i.fa-circle-user {
   font-size: 150px;
   color: #206569;
   padding-top: 30px;
}

.name {
   font-size: 25px;
   font-weight: bold;
   color: white;
   text-align: center;
   margin-top: -10px;
}

.position {
   font-size: 15px;
   font-weight: 300;
   color: white;
   text-align: center;
   margin-top: 10px;
}

.email {
   font-size: 14px;
   font-weight: 200;
   color: white;
   text-align: center;
}

h1.heading {
   text-align: center;
   font-size: 90px;
   padding-top: 100px;
   margin-bottom: 30px;
   font-weight: 900;
}

@media (max-width:475px){
   h1.heading{
      font-size:50px;
      padding-top: 30px;
   }
}

.contact-info {
   height: 50vh;
   background-color: #ecf6f8;
   margin: 0px 60px;
   color: #204559;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-size:30px;
   text-align: center;
}

@media (max-width:475px){
   .contact-info{
      font-size:20px;
      padding: 60px;
   }
}



/* frame */
.body-text { 
   height: auto;
   background-color: #ecf6f8;
   margin: 60px;
   margin-bottom:0px;
   color: #204559;
   border-radius: 10px;
   padding-bottom: 30px;
}

@media (max-width:475){
   .body-text{
      margin: 7px;
   }
}

@media (max-width:700px){
   .body-text{
      margin: 30px;
   }
}

@media (max-width:700px){
   .body-text{
      margin: 0px 30px;
   }
}

.body-text-heading-2 {
   font-size: 35px;
   color: #204559;
   text-align: center;
   padding-top: 90px;
   line-height: 1.15em;
   font-weight: bold;
}

@media (max-width:475px){
   .body-text-heading-2 {
      font-size: 28px;
   }
}

.announcement-date {
   color: #204559;
   font-size: 22px;
   margin: 60px;
   margin-bottom: -50px;
}

.announcement-content {
   padding: 0px;
   color: #204559;
   font-size: 16px;
   margin: 60px;
   line-height: 1.15em;
}

.intro-page-text {
   margin: 60px;
   padding-top: 70px;
   font-size: 35px;
   line-height: 1.15em;
}

.join-intro {
   padding-top: 70px;
   line-height: 1.15em;
}

.page-body-text {
   margin: 0px 60px;
   font-size: 20px;
   line-height: 1.15em;
   height: auto;
}

@media (max-width:475px){
   .body-text{
      margin: 0px 39px;
   }
}

@media (max-width:700px){
   .page-body-text{
      margin:30px;
      font-size:18px;
   }
}

.page-section-buttons {
   display: flex;
   flex-wrap:wrap;
   justify-content: center;
   padding-bottom:30px;
}

@media (max-width:800px){
   .page-section-buttons{
      padding-bottom:39px;
   }
}

.page-section-buttons button {
   margin: 20px;
}

.button-27 {
   appearance: none;
   background-color: #ecf6f8;
   border: 2px solid #ecf6f8;
   border-radius: 10px;
   box-sizing: border-box;
   color: #206569;
   cursor: pointer;
   display: inline-block;
   font-family: 'Josefin Sans', sans-serif;

   font-size: 24px;
   font-weight: 600;
   line-height: normal;
   margin: 10px;
   min-height: 30px;
   min-width: 0;
   outline: none;
   padding: 16px 24px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 250px;
   will-change: transform;

   box-shadow: #276d78 0 8px 15px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   flex-wrap:wrap;
}

.button-27:disabled {
   pointer-events: none;
}

.button-27:hover {
   box-shadow: #276d78 0 8px 15px;
   transform: translateY(-2px);
   border-color: #204559;
   color: white;
   fill: #204559;
   background-color: #204559;
}

.button-27:active {
   box-shadow: none;
   transform: translateY(0);
}

.application-button {
   width: 500px;
   background-color: #204559;
   color: white;
   box-shadow: #276d78 0 8px 15px;
   border-color: #204559;
   font-size:25px;
}

.spreadsheet-image-button {
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

@media (max-width:780px) {
   .button-27 {
      width: 200px;
   }

   .application-button {
      width: 399px;
   }
}

@media (max-width:475px){
   .button-27{
      width: 150px;
      font-size:20px;
   }
   .application-button {
      width: 250px;
      font-size: 18px;
   }
}

.fa-table {
   font-size: 200px;
   font-weight: 100;
}

.spreadsheet-images-container {
   display: flex;
   justify-content: center;
}

.nhs-spread-image {
   width: 39%;
   height: auto;
   margin: 10px;
   border-radius: 5px;
}

.nhs-spread-image:hover {
   border: 3px solid #204559;
   transform: scale(1.03);
   transition: all 0.3s;
   cursor: pointer;
}

.footer-container {
   background-color: #204559;
   padding-bottom: 3rem;
}

.footer {
   padding-top: 45px;
   width: 90%;
   /* height: 22vh; */
   height: auto;
   background-color: #204559;
   color: white;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   border-bottom: 0.6px solid white;
   border-spacing: 10px;
}

.footer-container p {
   color: white;
   font-weight: 300;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   position: relative;
   top: 20px;
}

@media (max-width:475px){
   .footer-container p{
      font-size: 12px;
   }
}

.footer-heading {
   display: flex;
   flex-direction: column;
   margin-right: 3rem;
}

.footer-heading h2 {
   margin-bottom: 0.6rem;
   font-size: 22px;
}

.footer-heading a {
   color: white;
   font-weight: 300;
   text-decoration: none;
   margin-bottom: 0.3rem;
}

.footer-heading a:hover {
   color: #77a2aa;
   transition: all 0.3s;
}